

body{
   
    background-color: #161616;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Verdana', monospace;
    color: white;

}
.main{
    margin: auto;
    text-align: center;
    padding: 50px;
    background: rgb(30,26,81);
    background: linear-gradient(180deg, rgba(30,26,81,1) 0%, rgba(16,14,46,1) 100%);
    background: size 100%;
}

h1{
    margin-top: 0;
    font-size: 50px;
    color: white;
}

h2{
    font-size: 50px;
    width: 100%;
    text-align: center;
}

h4{
    color: lightgray;
    font-size: 30px;
}


#mainLogo{
    width:200px;
}

#playButton{
    width: 500px;
}

.box{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.images{
    text-align: center;
    font-family: 'Arial';
}

.screenshot{
    border-radius:  10%;
    width: 350px;
}


.imageContainer{
    display: flex;   
    margin: auto;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
    padding: 20px;
}

.imageText{
    text-align: center;
    color: white;
    font-size: 35px;
    width: 100%;
    text-align: center;
}

.gradient{
    height: 100px;
    background-color: #161616; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgba(16,14,46,1), #161616);
}